{
  "semi": false,
  "singleQuote": true,
  "printWidth": 80,
  "trailingComma": "all",
  "tabWidth": 4,
  "useTabs": false,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["*.json", ".prettierrc", ".stylelintrc", ".eslintrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
